<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<%- include('common/header.ejs'); %>
<div class="clearfix">
    <%- include('common/left.ejs'); %>
    <div class="main">
        <div class="main-inner">
            <div class="content-inner">
                <h2 class="list-h2">
                    <a href="/html/cms/content.jsp?menu=NodeModule&amp;id=1480081169735">
                        <i class="icon-link"></i> socket.io 中文案例文档   (官方socket.io聊天应用demo翻译) </a>
                </h2>
                <div class="content-article">
                    socket.io 中文案例文档   (官方socket.io聊天应用demo翻译)
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
