* {
  margin: 0;
}
a {
  color: #96b97d;
  text-decoration: none;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f6f6f6;
}
.clearfix:before,
.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.mt5 {
  margin-top: 5px;
}
.font-wr {
  font-family: '微软雅黑', serif;
}
.font-st {
  font-family: '宋体', serif;
}
.overhide-dot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.display-ib {
  display: inline-block;
  vertical-align: middle;
}
.text-align-center {
  text-align: center;
}
.no-border-textarea {
  outline: none;
  border: none;
  resize: none;
}
.no-border {
  border: none;
}
h1,
.h1 {
  font-size: 36px;
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  max-width: 85%;
  margin: 0 auto;
}
.navbar-left {
  float: left;
}
.navbar-brand-a {
  font-size: 18px;
  color: #777;
}
.search form {
  border-radius: 3px;
  margin: 5px 0 0;
  padding: 5px;
  text-align: center;
}
.search input {
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
  height: 35px;
  left: 9px;
  line-height: 34px;
  padding: 0 3%;
  right: 9px;
  text-align: initial;
  top: 0;
  white-space: nowrap;
  width: 94%;
}
.search {
  float: right;
  width: 350px;
}
.navbar-brand-h1 {
  font-weight: 500;
}
.branding {
  background-color: #96b97d;
  color: #fff;
  text-align: center;
  padding-bottom: 22px;
  padding-top: 22px;
}
.branding-h2 {
  font-size: 30px;
  font-weight: 500;
}
.pagemenu {
  float: right;
  width: 200px;
  padding: 10px 20px 0 0;
}
.pagemenu-ul {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  background-color: #fff;
}
.pagemenu-a {
  color: #999;
  border-bottom: 1px solid #eaeaea;
  display: block;
  font-size: 16px;
  padding: 12px 20px;
}
.active .pagemenu-a {
  color: #fff;
  background-color: #96b97d;
}
.main {
  overflow: hidden;
}
.main-inner {
  margin: 10px 10px 10px 20px;
}
.list-li {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 13px 20px 0;
}
.list-h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 18px 0;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
}
.list-info {
  padding-bottom: 20px;
}
.list-p {
  text-indent: 2em;
}
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  float: right;
}
ul.pagination li {
  display: inline;
}
ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #fff;
}
ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
}
ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}
.bg {
  margin: 0 0;
  padding: 0 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}
.wrapper-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
}
.content-inner {
  background-color: #fff;
  padding: 20px;
}
.content-article {
  color: #333;
  margin-bottom: 150px;
}
.content-article img {
  max-width: 80%;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  overflow-x: auto;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.content-article p {
  text-indent: 2em;
  color: #666;
  font-size: 15px;
  line-height: 2;
}
.content-article h2 {
  margin: 10px 0 5px;
}
.content-article h3 {
  margin: 5px 0 3px;
}
.input-wrap {
  position: relative;
  background-color: #fff;
}
.tool {
  padding: 5px 0;
  border-bottom: 1px solid #d6d6d6;
}
.tool a {
  margin-left: 10px;
}
.submit {
  width: 70px;
  height: 30px;
  border: 1px solid #d6d6d6;
  background: #f4f6fb;
  line-height: 30px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}
.input {
  height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  outline: none;
  padding: 10px;
}
.faceContent {
  width: 300px;
  height: 180px;
  position: absolute;
  top: -180px;
  left: 0;
  border: 1px solid #eee;
  background-color: #fefefe;
  overflow-y: auto;
}
.faceContent li {
  margin: 5px;
  float: left;
  cursor: pointer;
}
.toolbar {
  height: 46px;
  background-color: #fff;
  text-align: right;
}
.toolbar-meeting {
  height: 70px;
  margin: 10px 0 15px;
}
.toolbar-btn,
a.toolbar-btn {
  height: 26px;
  border-radius: 3px;
  line-height: 26px;
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  color: #fff;
  vertical-align: middle;
  margin: 12px 20px 0 0;
}
.input-wrap .el-card {
  margin-bottom: 20px;
}
.author-title-p {
  margin-bottom: 20px;
  color: #888;
}
.comment-date {
  float: right;
}
.comment-form {
  border: 1px solid #ccc;
  padding: 20px;
}
.toolbar-btn,
a.toolbar-btn {
  height: 26px;
  border-radius: 3px;
  line-height: 26px;
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  color: #fff;
  vertical-align: middle;
  margin: 12px 20px 0 0;
}
.dialog-btn {
  height: 26px;
  border-radius: 3px;
  line-height: 26px;
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  color: #fff;
  vertical-align: middle;
  margin: 12px 20px 0 0;
  box-sizing: border-box;
  padding: 0 27px;
}
.dialog-btn:hover,
.toolbar-btn:hover {
  color: #fff;
}
.green-btn {
  background-color: #46a549;
}
.orange-btn {
  background-color: #fe7800;
}
.red-btn {
  background-color: #f33b18;
}
.yellow-btn {
  background-color: #46a549;
}
.gray-btn {
  background-color: #aaaaaa;
}
.cms-submit {
  margin: 20px 20px 0;
  text-align: right;
}
.editor {
  margin-left: 100px;
}
.copyright {
  color: #999;
  font-size: 12px;
  margin: 10px auto 0;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e4e4e4;
}
.copyright .flink a {
  margin-right: 15px;
}
.copyright a {
  color: #999;
}
.audio {
  visibility: hidden;
}
@keyframes music {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes music {
  /* Safari 与 Chrome */
  0% {
    -webkit-transform: rotate(0);
    /* Safari and Chrome */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Safari and Chrome */
  }
}
.music-icon {
  background: url("../images/music_48px_1180565_easyicon.net.png") 0 0 no-repeat;
  width: 48px;
  height: 48px;
  position: fixed;
  top: 148px;
  right: 20px;
}
.music-icon.animation {
  animation: music 5s linear 0s infinite;
  /* Safari 与 Chrome: */
  -webkit-animation: music 5s linear 0s infinite;
}
.music-icon.animation-runing {
  animation-play-state: running;
  -webkit-animation-play-state: running;
  /* Safari 和 Chrome */
}
.music-icon.animation-paused {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  /* Safari 和 Chrome */
}
