<div class="copyright">
    <p class="flink">
        <span>友情链接：</span>
        <a href="http://www.haiyihui.com.cn" target="_blank">海医汇医疗科技有限公司</a>
        <a href="https://github.com/ShuangMuChengLi" target="_blank">林超群的github</a>
    </p>
    <p>联系方式：QQ：<span style="margin-right: 20px">1109484350</span><span>lchaoqun@sina.cn</span></p>
    Copyright &copy; 2013-2015 <br class="visible-xs-block"/>
    <strong><a target="_blank" href="/">林超群博客</a></strong>&nbsp;
    <strong><a target="_blank" href="/">www.linchaoqun.com</a></strong>
    All Rights Reversed. 闽ICP备15016790号-1
</div>

<script type="text/javascript" src="/music-comp/index.js"></script>
<script type="text/javascript" src="/javascripts/footer.js"></script>
