<div class="navbar">
    <div class="container clearfix">
        <div class="navbar-header navbar-left">
            <h1 class="navbar-brand-h1">
                <a class="navbar-brand-a" href="/">
                    林超群博客
                </a>
            </h1>
        </div>
        <div class="search">
            <form action="javascript:void(0)">
                <input id="searchBox" placeholder="搜索....">
            </form>
        </div>
    </div>
</div>

<div class="branding">
    <div class="container">
        <h2 class="branding-h2">
            为者常成，行者常至。
        </h2>
    </div>
</div>
<script>
    document.getElementById("searchBox").onkeydown = function(e){
        var theEvent = e || window.event;
        var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
        if (code === 13) {
            window.location.href = "/list/search/" + this.value + "/1/10";
        }
    };
</script>
