<div class="pagemenu">
    <ul class="pagemenu-ul">
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
        <li class="pagemenu-li">
            <a class="pagemenu-a" href="/">
                首页
            </a>
        </li>
    </ul>
</div>
